global
	log 127.0.0.1 local0 debug
	maxconn 1024
	chroot /var/haproxy
	user _haproxy
	group _haproxy
	daemon
	pidfile /var/run/haproxy.pid

defaults
	log global
	mode http
	option httplog
	option dontlognull
	option redispatch
	retries 3
	maxconn 2000
	timeout connect 5s
	timeout client 30s
	timeout server 30s

frontend https
	bind *:443 ssl${crt_list}
	http-request set-header X-Forwarded-Proto https
	http-request set-header X-Forwarded-For %[src]

	use_backend master   if { ssl_fc_sni ai.brgen.no }
	use_backend brgen    if { ssl_fc_sni brgen.no }
	use_backend amber    if { ssl_fc_sni amber.brgen.no }
	use_backend bsdports if { ssl_fc_sni bsdports.org }
	default_backend master

backend master
	option forwardfor
	server master 127.0.0.1:53187 check

backend brgen
	option forwardfor
	server brgen 127.0.0.1:11006 check

backend amber
	option forwardfor
	server amber 127.0.0.1:61352 check

backend bsdports
	option forwardfor
	server bsdports 127.0.0.1:47312 check
