/* Error: expected "{".
 *    ,
 * 41 |   [:collapse_blank_lines, :no_decorative_fx]box-shadow: none;
 *    |                                                             ^
 *    '
 *   shared/app/assets/stylesheets/_search_yep.scss 41:61  @forward
 *   shared/app/assets/stylesheets/_stack.scss 13:1        @use
 *   amber/app/assets/stylesheets/application.scss 1:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 41 \2502    [:collapse_blank_lines, :no_decorative_fx]box-shadow: none;\a    \2502                                                              ^\a    \2575 \a   shared/app/assets/stylesheets/_search_yep.scss 41:61  @forward\a   shared/app/assets/stylesheets/_stack.scss 13:1        @use\a   amber/app/assets/stylesheets/application.scss 1:1     root stylesheet';
}
