DEEPSEEK_API_KEY=
OPENROUTER_API_KEY=
REPLICATE_API_KEY=
WEAVIATE_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
MISTRAL_API_KEY=
VAPID_SUBJECT=admin@brgen.no
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
