/* Error: expected "{".
 *      ,
 * 3127 |   [:eight_px_rhythm, :no_decorative_fx]box-shadow: none;
 *      |                                                        ^
 *      '
 *   brgen/app/assets/stylesheets/application.scss 3127:56  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 3127 \2502    [:eight_px_rhythm, :no_decorative_fx]box-shadow: none;\a      \2502                                                         ^\a      \2575 \a   brgen/app/assets/stylesheets/application.scss 3127:56  root stylesheet';
}
