#!/bin/ksh
daemon="/usr/local/bin/bundle"
daemon_flags="exec env RAILS_ENV=production SECRET_KEY_BASE='${master_secret}'${env_line} falcon serve --bind http://127.0.0.1:53187"
daemon_user="dev"
daemon_execdir="/home/dev/pub4/MASTER/web"
daemon_timeout="90"
. /etc/rc.d/rc.subr
pexp="ruby34.*falcon.*53187"
rc_bg=YES
rc_reload=NO
rc_cmd \$1
