#!/bin/ksh
daemon="/bin/ksh"
daemon_flags="-c 'cd /home/${app}/app && export RAILS_ENV=production SOLID_QUEUE_IN_PUMA=true SECRET_KEY_BASE=${secret} HOME=/home/${app} && exec /usr/local/bin/bundle34 exec falcon serve --bind http://127.0.0.1:${port}'"
daemon_user="${app}"
daemon_execdir="${app_dir}"
daemon_timeout="60"
. /etc/rc.d/rc.subr
pexp="ruby.*${port}"
rc_bg=YES
rc_reload=NO
rc_cmd \$1
