\$ORIGIN $domain.
\$TTL 3600
@ IN SOA ns.brgen.no. hostmaster.$domain. (
    $serial 1800 900 604800 86400)
@ IN NS ns.brgen.no.
@ IN NS ns.hyp.net.
@ IN A $BRGEN_IP
@ IN MX 10 mail.$domain.
mail IN A $BRGEN_IP
